body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, serif;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.subtext {
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 10px;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    height: 600px;
    width: 600px;
}

.row {
    display: flex;
    padding: 0;
    margin: 0;
    flex: auto;
}

.square {
    padding: 0;
    margin: 0;
    flex: auto;
}

.blackSquare {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    margin: 0;
    flex: auto;
}

.user-input-container {
    display: flex;
    margin: 20px 0;
    gap: 10px;
}

input {
    height: 20px;
    width: 250px;
}

.change-color {
    margin-bottom: 10px;
}